<h1>
  All Tasks
  <small>{{tasks-remaining model=model}}</small>
</h1>


<div class=list-group>
  <!-- New Task Form -->
  <div class=list-group-item>
    {{#if added}}
      {{#bs-alert type="success"}}
        Successfully added {{link-to added.title 'tasks.task' added}}.
      {{/bs-alert}}
    {{/if}}

    {{#bs-form id=task-form action='createNewTask' form_layout=horizontal}}
      {{bs-form-element value=newTask.title label="Task"
          placeholder="Task Name..." errors=errors.title autofocus=true}}
      {{bs-form-element controlType='textarea' value=newTask.description
          label="Description" placeholder="Description..."
          errors=errors.description}}
      {{bs-button defaultText="Submit" buttonType="submit" class="btn-primary"}}
    {{/bs-form}}
  </div>

  <!-- Task List -->
  {{#each model as |task|}}
    <div class=list-group-item>
      {{task-list-item task=task}}
      {{task-buttons task=task}}
    </div>
  {{/each}}
</div>
