<h1>
  Tasks
  <small>
    {{#if remaining}}- {{remaining}} Remaining
    {{else}}{{/if}}
  </small>
</h1>

<ul class="block task-list">
  <li>
    <form id=task-form {{action 'createNewTask' on='submit'}}>
      {{input value=formTitle placeholder="Task Name..." autofocus=true}}
      {{field-error errors=errors.title}}

      {{textarea value=formDescription placeholder="Description..."}}
      {{field-error errors=errors.description}}

      <button type='submit'>Add</button>
    </form>
  </li>

  {{#each model as |task|}}
    <li>
      {{task-list-item task=task}}
      <button {{action 'finishTask' task target="controllers.tasks/task"}}>
        Finish
      </button>
      <button {{action 'deleteTask' task target="controllers.tasks/task"}}>
        Delete
      </button>
    </li>
  {{/each}}
</ul>
