{{#with model as |task|}}
<h1 class=task-title>
  {{task.title}}
  <small>{{if task.isFinished '- Finished!' ''}}</small>
</h1>
<div class=task-descr>
  <b>Description: </b>
  {{task.description}}</div>
{{#link-to 'tasks'}}<button>
  Tasks
</button>{{/link-to}}
<button {{action 'finishTask' task}}>
  Finish
</button>
<button {{action 'deleteTask' task}}>
  Delete
</button>
{{/with}}
